{% extends "base.html" %}
{% block content %}
<h2 style="text-align: center;">search results</h2>

{% if query %}
  <p>search history: <strong>{{ query }}</strong></p>
  {% if products %}
    {% for p in products %}
      <div class="card">
        <img src="{{ p['image'] }}" alt="{{ p['name'] }}">
        <h4>{{ p['name'] }}</h4>
        <div class="small">{{ p['description'] }}</div>
        <div><strong>{{ "%.2f"|format(p['price']) }} €</strong></div>
        <form action="{{ url_for('add_to_cart') }}" method="post">
          <input type="hidden" name="product_id" value="{{ p['id'] }}">
          <button type="submit">add to cart</button>
        </form>
      </div>
    {% endfor %}
  {% else %}
    <p>not found</p>
  {% endif %}
{% else %}
  <p>enter the product name to search for.</p>
{% endif %}

{% endblock %}